<main class="page-container video-container">
  <div class="flex-h-center full-w full-h">
    <div class="flex-v-center full-w full-h">
      <div (click)="togglePlay()" class='flex-h-center center-button' >
            <button mat-icon-button
              class="icon-button"
              (click)="togglePlay()">
              @if (!videoplayer.paused) {
                <mat-icon class="big-icon animated-play-pause" >play_arrow</mat-icon>
              } @else {
                <mat-icon class="big-icon animated-play-pause" >pause</mat-icon>
              }
            </button>


      </div>
    </div>

    <div class="{{videoplayer.paused ? 'cast-overlay' : 'hidden'}}" #castOverlay>
      <div *ngFor="let c of cast" class="cast-card">
        <img [src]="c.pictureData" />
        <div>
        <span>{{c.name}} playing {{c.character}}</span>
        </div>
      </div>
    </div>

    <div class="{{videoplayer.paused ? 'dim-overlay' : 'transp'}}" (click)="togglePlay()" #dimOverlay>

    </div>

    <div class="absolute-video">
      <video (click)="togglePlay()" #videoplayer class="absolute-video" src={{videoSrc}}></video>

      <div [ngClass]="showOverlay ? 'controls' : 'transp'">
        <div class="progress" (click)="scrubTime($event)" #progressbar>

          <div class="thumbnail-wrapper hidden" #thumbnailWrapper>
            <img src="{{thumbnail}}" />
            <div class="flex-h-center full-w"> {{hoverTime}} </div>
          </div>

          <div class="progress_filled" #progressfill></div>
          <div class="progress_tracker" #progressTracker
            (mousedown)="dragTime($event)"
            ></div>
        </div>
        <div class="button_row">
          <div class="button_row_left">
            <button mat-icon-button
              class="icon-button"
              (click)="togglePlay()">
              @if (videoplayer.paused) {
                <mat-icon>play_arrow</mat-icon>
              } @else {
                <mat-icon>pause</mat-icon>
              }
            </button>

            <button mat-icon-button
                    class="icon-button"
                    (click)="toggleMute()"
                    >
              <mat-icon>{{mutesymbol}}</mat-icon>
            </button>

            <div class="volume-container flex-v-center">
            <mat-slider >
              <input matSliderThumb (ngModelChange)="setVolume()" [(ngModel)]="video_volume" value="{{video_volume}}">
            </mat-slider>
            </div>

            <div class="duration-container flex-v-center">
            <span> {{ media_progress }} / {{ media_duration }} </span>
            </div>
          </div>
          <div class="button_row_center">
          </div>
          <div class="button_row_right">
            <button
              mat-icon-button
              class="icon-button"
              (click)="toggleMaximise()">
                <mat-icon>fullscreen</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
